<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="profile-picture">
        <img src="{{ site.baseurl }}files/Profile_Picture.webp">        
      </div>
      <h2>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>
    <a aria-label="My E-Mail" href="mailto:{{site.email}}">
      <ion-icon name="mail-outline"></ion-icon>
    </a>
    <a aria-label="My Linked-In" target="_blank" href="https://www.linkedin.com/in/sathwik-g-s-ab64a348/">
      <ion-icon name="logo-linkedin"></ion-icon>
    </a>
    <a aria-label="My GitHub" target="_blank"
          href="https://github.com/{{site.github_username}}">
      <ion-icon name="logo-github"></ion-icon>
    </a>  
    <a href="https://twitter.com/GSathwik" target="_blank" aria-label="Twitter">
      <ion-icon name="logo-twitter"></ion-icon>
    </a>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <!-- {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}     -->
    </nav>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
